{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^vite$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@ui/(.*)$",
    "^@layout/(.*)$",
    "^@common/(.*)$",
    "^@features/(.*)$",
    "^@dialogs/(.*)$",
    "^@screens/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@lib/(.*)$",
    "^@utils/(.*)$",
    "^@sdk/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ]
}
